<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="alpha">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="/css/common.css" />
  <link rel="stylesheet" href="/css/main.css" />
  <link rel="stylesheet" href="/css/uc.css" />
  <link rel="stylesheet" href="/css/artistpage.css" />
  <link rel="stylesheet" href="/css/player.css" />
  <link href='http://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-52755421-1', 'auto');
  ga('send', 'pageview');

</script>
<title>Alpha Connection</title>
</head>

<body id="margin_uc" onload="setupDes();">

<div id="wrapper">
    
  <%- body %>

</div><!--wrapper-->


  </div>
    <footer><p>2014 &copy; alpha connection All rights reserved.</p>
    </footer>
  
  <!-- Load Libraries -->
  <!--<script type="text/javascript" src="/js/socket.io.js"></script>-->
  <script type="text/javascript" src="/js/dependencies/sails.io.js"></script>
  <script type="text/javascript" src="/lib/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="/lib/jquery/jquery.jplayer.min.js"></script>
  <script type="text/javascript" src="/lib/jquery/jplayer.playlist.min.js"></script>
  <script type="text/javascript" src="/lib/jquery/jquery.jplayer.inspector.js"></script>
  <script type="text/javascript" src="/lib/angular/angular.js"></script>
  <script type="text/javascript" src="/lib/angular/angular-route.js"></script>
  <script type="text/javascript" src="/lib/angular/ui-bootstrap-tpls-0.11.0.min.js"></script>
  
  <!-- Init Files -->
  <script type="text/javascript" src="/js/app.js"></script>
  <script type="text/javascript" src="/js/loadPlayer.js"></script>
  <script type="text/javascript" src="/js/form.js"></script>
  
  <!-- Angularjs Module -->
  <script type="text/javascript" src="/js/angular/app.js"></script>
  <script type="text/javascript" src="/js/angular/services.js"></script>
  <script type="text/javascript" src="/js/angular/filters.js"></script>
  <script type="text/javascript" src="/js/angular/directives.js"></script>
  <script type="text/javascript" src="/js/angular/controllers.js"></script>
  
  <!-- Angularjs Controllers -->
  <script type="text/javascript" src="/js/angular/controllers/HomeCtrl.js"></script>
  <script type="text/javascript" src="/js/angular/controllers/ManageArtistCtrl.js"></script>
  <script type="text/javascript" src="/js/angular/controllers/ManageAlbumCtrl.js"></script>
  <script type="text/javascript" src="/js/angular/controllers/ManageSongCtrl.js"></script>
  <script type="text/javascript" src="/js/angular/controllers/ArtistCtrl.js"></script>
  <script type="text/javascript" src="/js/angular/controllers/AlbumCtrl.js"></script>
  
  
  
  
  
</body>
</html>
