<form class="form-horizontal well" name="songForm" role="form" ng-controller="ManageSongFormCtrl" ng-submit="submit(newSong)" novalidate>
  <div class="form-group">
  <label class="col-sm-2 control-label">Song Name</label>
  <div class="col-sm-10">
  <input type="text" class="form-control" placeholder="Song Name" ng-model="newSong.name" required />
  </div>
  </div>
    
  <input type="hidden" ng-show="newSong.id" value="{{newSong.id}}" />
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
    <button type="submit" ng-disabled="songForm.$invalid" class="btn btn-primary" ng-switch="editLabel">
      <span ng-switch-when="false">Add</span>
      <span ng-switch-when="true">Edit</span>
    </button>
    </div>
  </div>
</form> 