<div class="center" >
 		<img src="images/underconstruction/underconstruction01.jpg" width="417" height="326" alt="alpha-connection"/><br />
		<img src="images/underconstruction/underconstruction02.jpg" width="506" height="36" />
  </div>
  

<!-- draw form -->
<div id="nsForm">
<form method="post" action="/index.php">
<div class="preregJP">完全無料音楽配信サービス、Alpha Connectionは、サービスのリリースに向けて日々開発を行なっており、ただいま事前登録受付中です。</div>
<div class="preregEN">Alpha Connection is a free music downloading service, currently under development. Accepting preregistration here.</div>
<input type="text" name="email" size="32" class="nsEmail" value="Enter e-mail address">
<input type="submit" action="submit" name="submit" value="submit" class="nsBtn">
</form>
<a href="/auth/twitter">Sign in with Twitter</a>
<br>
<a href="/auth/facebook">FB Login</a>
</div>

  <div class="clearfix">
    <div class="float_left">
    	<img src="images/underconstruction/underconstruction03.jpg" width="352" height="256" />
      <p>Have you dream of being invited to play at
        concerts on the other side of the world.
        <br />
      Alpha Connection makes that dream come true. </p><p>
      海外コンサートツアーを企画しませんか？
        <br />
        「ヨーロッパ横断ツアーをしたい！」<br />
そんな夢が叶うのが、Alpha Connectionです。 </p>
    
    </div>
    <div class="float_right">
    	<img src="images/underconstruction/underconstruction04.jpg" width="383" height="256" />
      <p>Have you ever wanted to see that musician you saw
      from somewhere in the other side of the world?
        <br />
      Alpha Connections brings your musician to your town. </p><p>
      お気に入りのアーティストを応援しませんか？
        <br />
        「自分の町に来てライブをして欲しい！」
        <br />
        そんな願いも実現できるのが、Alpha Connectionです。 </p>
    </div>
    <a href="mailto:info@alpha-connection.net">info@alpha-connection.net</a>
  </div>
