<header class="clearfix"> <a href="http://www.alpha-connection.net"><img src="../../images/top_logo_s.jpg" width="400" height="80" alt="Alpha Connection"></a></header>
    
    <!--Music Player-->
    <div id="jp_container_1" class="musicplayer clearfix">
    	<div class="mp_nowplaying">
        <!--<img class="image-resize" src="artists/cozy/images/1614989_555699181192559_1502290387_n.jpg"> -->
        <div class="loading"><img src="images/jplayer/ajax_loader_gray.gif" /></div>
        <div id="jquery_jplayer_1" class="image-resize"></div>
        <span id="mp_title"></span><br /><span id="mp_artist"></span><br />
        <div class="jp-current-time"></div>
      </div>
      <div class="mp_button">
      	<ul class="mp_btns">
        	<li><a href="javascript:myPlaylist.previous();"><img src="images/mp_button__01.png" width="41" height="47"></a></li>
      		<li><a href="javascript:;" class="jp-play" tabindex="1"><img src="images/mp_button__03.png" width="46" height="47"></a></li>
          <li><a href="javascript:;" class="jp-pause" tabindex="1">pause</a></li>
        	<li><a href="javascript:myPlaylist.next();"><img src="images/mp_button__05.png" width="42" height="47"></a></li>
        	<li><a href="#"><img src="images/mp_button__07.png" width="36" height="47"></a></li>
      		<li><a href="#"><img src="images/mp_button__09.png" width="36" height="47"></a></li>
        	<li><a href="#"><img src="images/mp_button__11.png" width="36" height="47"></a></li>
        </ul>
      </div>
      <div class="userlogin">
        <h3 class="user_name"><img src="images/user_icon.jpg" class="user_icon">Meguru Kai</h3>
          <a href="#">Favorites</a> <a href="#">Friends</a> <a href="#">Settings</a>
      </div>
      <div class="jp-progress">
        <div class="jp-seek-bar">
          <div class="jp-play-bar"></div>
        </div>
      </div>
      <div class="jp-volume-bar">
        <div class="jp-volume-bar-value"></div>
      </div>
      
      
      <div class="jp-playlist">
        <ul>
          <li></li> <!-- Empty <li> so your HTML conforms with the W3C spec -->
        </ul>
      </div>
    </div>
    <!--End Music Player-->
    
    <!--Artist Info-->
    <div class="artistInfo clearfix">
    	<h2 class="ai01">Artist INFORMATION</h2>
      <div id="artist_introduction">
        <div class="ai_text clearfix">
        	<div class="ai_textPhoto">
          	<img src="images/20140217-IMGL9347.jpg" class="artist_photo">
          </div>
          <div class="ai_textInroduction">
            <h3>MUSQIS</h3>
            <p>
              マルチ楽器奏者、野口英律を中心とした音楽及びそれらに関わる集団、コミュニティーである。<br />
              ムスキス、マスキス等、特に読み方は決まっていない。<br />
              その性質から上記メンバー以外にもサポート、ゲスト等を迎える事が多く、その編成は極めて流動的である。<br />
              野口の弾き語り等のソロ活動の延長から始まっており、<br />
              結成された経緯は本人も覚えていないが2010年くらい。<br />
              レコーディング、アートワークの殆どを野口が担当するかなりDIYな活動を行っている。<br />
              現在は楽曲を理解し演奏可能な状態の構成員が各地に多数存在しており、<br />
              その中で会場に向かえるメンバーが都度ライブをするという姿勢を貫いている。<br />
              活動開始当初から拠点を東京としているが、<br />
              構成員を名乗る人口は現在も増え続けていることから今後は全国規模で増加し遠方での各種活動もより盛んになる見通し。
            </p>
          </div>
        </div>
        <!--SNS Parts-->
        <div class="clearfix">
        	<div class="ai_sns"> <a href="#"><img src="../../images/icon_fb.gif" width="32" height="32" alt="Facebook"></a>
            <a href="#"><img src="../../images/icon_twitter.gif" width="32" height="32"></a>
          </div>
        	<div class="ai_menu">
          	<ul>
            	<li class="ai_fav"><a href="#">お気に入りに追加</a></li>
              <li class="ai_donate"><a href="#">アーティストを応援する</a></li>
              <li class="ai_send"><a href="#">メッセージを送る</a></li>
            </ul>
          </div>
        </div>
        <!--End SNS Parts-->
      </div>
      <!--Artist Info below-->
      	<div class="artistNotes clearfix">
        	<div class="artistListandLive">
          	<div class="artistInfoMusic"><h2 class="artist_info">music list</h2>
            	<ul>
              	<li>Not Available</li>
              </ul>
              <div>←prev&nbsp;&nbsp;next→ <span class="pagination">1/1</span></div>
            </div>
            <div class="artistInfoLive"><h2 class="atist_info">live information</h2>
            	<p>
                MUSQIS ONE MAN [NEUROGRYPH 23]<br />
                
                【会場】新宿JAM<br />
                
                【出演】MUSQIS ONE MAN<br />
                
                【時間】OPEN 20:00 / START 20:15<br />
                
                【料金】前 当 : ¥1,000/ (1D￥500別)<br />
            
                Photo by Yasuhiro TANAKA
              </p>
            </div>
          </div>
          <div class="artistInfoMessage">
          	<h2 class="artist_info">Message</h2>
            <p>2010年、2011年にダモ鈴木(ex,CAN)と共演する。
              2013年内に流通版Exhibition / Aをリリース
              現在の主要メンバー
              
              Hidenori Noguchi (野口英律)
              -Drums / Diection / Vox / BaritoneGuitar / Bass / CelloBass / Guitars / Mandolin / LapSteel / Melotron and other
              (aka VJ(DJ)FRANKY ZAPPA , EdgarK.C. , mooons , 未明 , WINDOWZ)Souichirow Horita (堀田壮一郎)
              -Drums / Perc / Pianica / Manupilate / Synth and other
              (North Nine States,ex-鎌倉組 ex-コンコンチキ)</p>
          </div>
          <div class="artistInfoTwitter"><h2 class="artist_info">Twitter</h2>
          	<div><a data-chrome="noheader noborders nofooter transparent" height="400px" class="twitter-timeline" href="https://twitter.com/search?q=%23%E3%83%A9%E3%82%A4%E3%83%96%E3%83%8F%E3%82%A6%E3%82%B9" data-widget-id="455978436364750849">#ライブハウス に関するツイート</a>
							<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </div>
          </div>
        </div>
      <!--End Artist Info below-->

      <!--Pick Up Artist-->
      	<div class="pickUp_artist clearfix">
          <h2 class="artist_info">注目のアーティスト</h2>
       		<div class="pickUp_list">
          	<ul>
            	<li><a href="http://www.alpha-connection.net/artists/cozy"><img src="/artists/cozy/images/120.png" width="120" height="120"></a></li>
              <li><a href="http://www.alpha-connection.net/artists/MUSQIS"><img src="images/120.png" width="120" height="120"></a></li>
              <li><a href="http://www.alpha-connection.net/artists/ueharamasamitsu"><img src="../ueharamasamitsu/images/120.png" width="120" height="120"></a></li>
              <li><a href="http://www.alpha-connection.net/artists/WINDOWZ"><img src="../WINDOWZ/images/120.png" width="120" height="120"></a></li>
            </ul>
          </div>
        </div>
      <!--End Pick Up Artist-->
      
    </div>
    <!--End Artist Info-->


    
    <section>
      
    </section>